@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';
@import 'modules/_header';
@import 'modules/_footer';

* {
    margin: 0px;
    padding: 0px;
}
body { 
    color: $main-color;
    background-color: $body-bg;
}

h1, h2, h3 { color: $heading-color }

h1 { font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #2A7A41;}
h2 { font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: rgb(216, 240, 150);}
h4 { font-size: 12px; color: #171B22; padding: 50px; font-family: Helvetica, Arial, sans-serif;}

.lightbox h1 { font-size: 25px; padding: 25px;font-family: Helvetica, Arial, sans-serif; color: #2A7A41;}
.lightbox h2 { font-size: 16px; padding: 25px;font-family: Helvetica, Arial, sans-serif; color: rgb(216, 240, 150);}
.lightbox h4 { padding: 25px;font-family: Helvetica, Arial, sans-serif;}
// .panel { min-height: 80vh; }

// .panel:nth-child(odd) {
//     background-color: #ECF4F0;
//     color: white;
// }

// #to-top { position: fixed; bottom: 10px; right: 10px; display: none; }


