<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BUMMER.... YOU BROKE SOMETHIN'</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="errorStyle">
    <a href="/">
    <img src="images/back-arrow.svg" class="back" alt="back">
    </a>
    <main class="error-section">
    {{{ body }}}
    </main>
    </div>
    
</body>
</html>