{{!-- <section id="section1" class="panel">

</section> --}}
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3" class="panel">
    {{!-- <h1 class="user-panel-heading">
        Welcome to our awesome team section!
    </h1> --}}


    <h4>Check out your favourite food selections.</h4>

    <div class="recipe">
        <!-- loop through all my foods and put their info on the page -->
        {{#each food}}
        
        <div class="user-panel">
         <h1>{{ foodName }}</h1>
        <img class="u-foodImage" src="images/{{ foodImage }}" alt="foodImage"> <!--avatar key taken out of data-->

        <a class="u-link" href="{{ ID }}">
            Recipe
        </a>
        
        <h3>{{ cooktime }}</h3>
        </div>

        {{/each}}
        
    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">

        
        <span class="close">x</span>

        <div class="sidebar">
            <img src="" alt="larger bio image">
         </div>
        
        <div class="lb-content">
        </div>


        
    </section>
</section>
{{!-- <section id="section4" class="panel">panel 4</section> --}}
{{!-- <section id="section5" class="panel"></section> --}}