<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="stylesheet" href="css/main.css">

    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
    <title>Favourite Things | Food</title>
</head>

<body>

    <div class="hook-content">

   {{!-- <div id="moving">   
     <figure>
       <img src="images/burger.jpeg" class="burger" alt="burger">
       <img src="images/lasagna.jpeg" class="lasagna" alt="lasagna">
       <img src="images/padthai.jpeg" class="padthai" alt="padthai">
     </figure>
   </div> --}}

    <img src="images/burger.jpeg" class="burger" alt="burger">
    <img src="images/foodLogo.svg" class="food-logo" alt="food-logo">
    <img src="images/navMenu.svg" class="nav-menu" alt="nav-menu">

    <div class="headerTitles">
    <h1 class="p-name">Favourite Things</h1>
    <h2 class="subtitle">Personalized Recipes</h2>
    
    </div>
   
    </div>


    <nav data-module="nav">
        <!-- nav elements must have nav-item -->
        {{!-- <ul>
            <li><a href="#" class="nav-item">1</a></li>
            <li><a href="/2" class="nav-item">2</a></li>
            <li><a href="#section3" class="nav-item">3</a></li>
        </ul> --}}
    </nav>
        <div class="arrow-up">        

    </div>


    <main>
        {{{ body }}}
        
    </main>


    

    <script type="module" src="js/main.js"></script>
    <script>
        var name = "Favourite Things";

        console.log('name in main file: ' + name);
    </script>
s
    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-foodImage"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>

         <a id="to-top" href="#">
            <img src="images/up-arrow.svg" class="up" alt="up">
        </a>
    <!-- end templates-->
       
        <footer>
        <p> derrikxavier © 2019</p>
        
        {{!-- <ul>
            <li><a href="#" class="nav-item">1</a></li>
            <li><a href="/2" class="nav-item">2</a></li>
            <li><a href="#section3" class="nav-item">3</a></li>
        </ul> --}}
    </footer>
</body>

</html>