pre {
    display: none;
}
body {
    background-color: #DBFB81;
}
.errorStyle {
    background-color: #DBFB81;
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    height: 1000px;
    padding: 25px; 
}

.errorStyle h3 {
    font-size: 300px;
}

.errorStyle h4 {
    display: none;
}

 .back {
 width: 80px;
 padding: 25px;
}

.cuteBurg {
    width: 100px;
    height: auto;
    padding: 10px;
}