
.hook-content {
    display: flex;
    -webkit-clip-path: inset(0px round 0px 0px 150px 0px);
    clip-path: inset(0px round 0px 0px 150px 0px);
}

.food-logo {
    padding: 0px 10px 20px 20px;
    display: flex;
    position: absolute;
    width: 80px;
    height: 80px;
}

.burger {
    display: absolute;
    z-index: -1;
    width: 100%;
    height: 80%;
}

.headerTitles {
    display: flex;
    position: absolute;
    margin-top: 30%;
    padding: 20px;
    font-family: Helvetica Neue, Arial, sans-serif;
}

.p-name {
    display: flex;
    position: absolute;
    color: white;
    font-weight: 800;
    font-family: Helvetica Neue, Arial, sans-serif;
}


.subtitle {
    display: flex;
    margin-top: 40%;
    color: white;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 200;
    padding: 10px 10px 10px 0px;
}

.profileImg {
    // display: flex;
    position: absolute;
    width: 55px;
    right: 0px;
    bottom: 0;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.nav-menu {
    right: 0;
    padding: 20px 20px 20px 20px;
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}



// moving hookimages
// #moving {
//     overflow: hidden;
//   }
  
 
//   #moving figure {
//     position: relative;
//     width: 500%;
//     margin: 0;
//     left: 0;
//     animation: 15s slider infinite;
//   }
  
//   #moving figure img {
//     float: left;
//     width: 20%;
//     filter: brightness(50%);
//     margin: 0;
//     padding: 0;
//   }
  
//   #moving a {
//     display: table;
//     margin: 0 auto;
//     padding: 0;
//   }
  
  //attempting a moving gallery in the hook image, will try and complete after assignment on my own time
//   @keyframes moving {


//   0% {
//     left: 0;
//   }

//   20% {
//     left: 0;
//   }

//   25% {
//     left: -100%;
//   }

//   45% {
//     left: -100%;
//   }

//   50% {
//     left: -200%;
//   }

//   70% {
//     left: -200%;
//   }


// }

