.team { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .user-panel {
        flex: 0 1 200px;
        text-align: center;
        padding: 8px;

        .u-avatar { max-width: 200px; 
            -webkit-clip-path: inset(0px round 5px 5px 5px 5px);
            clip-path: inset(0px round 5px 5px 5px 5px);
        
        }

        .u-link { 
            display: block; 
            font-family: Helvetica, Arial, sans-serif;
            text-decoration: none;
            margin: 20px;
            background-color: #2A7A41;
            padding: 10px;
            border-radius: 25px;
            color: white;
        }

        h1, h3 { margin: 5px 0; }
    }
}

@media screen and (min-width: 900px) {
    .team {
        .user-panel { 
            flex: 1 1;

            .u-avatar { max-width: 300px; }
        }
    }
}

